*{
    box-sizing: border-box;
}


body{
    background: rgb(160, 187, 202);
    text-align: center;
}

.top{
    color: rgb(255, 255, 255);
}

.enter{
    color: aqua;
}

input{
    padding-bottom: 15px;
    border-radius: 15px;
}


