*{
    box-sizing: border-box;
}


body{
    background: rgb(69, 123, 157);
    text-align: center;
    
}

.top{
    color: rgb(10, 10, 15);
}

.enter{
    color: aqua;
}

input{
    padding-bottom: 5px;
    border-radius: 15px;
    margin-bottom: 20px;
    text-align: center;
}

#submit:hover{
    background-color: blanchedalmond;
    transform: scale(1.2);
}

nav{
    background-position: center;
    background-color: rgb(168, 218, 220);
    width: 150px;
    border-radius: 20px;
    text-align:justify;
    
}


a{
    color: rgb(29, 53, 87);
}

.inputarea{
    margin-left:50px;
    margin-right:50px;
    background-color: rgb(241, 250, 238);
    border: 5px solid black;
    border-radius: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.resultarea{
    
    background-color: cadetblue;
    border: 2px solid beige;
    border-radius: 100%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.prompt{
    padding-top: 10px ;
    padding-left: 25px;
    padding-right: 25px;
}

.container{
    background-color: rgb(218, 230, 225);
}

.again{
    visibility: hidden;
}

.again:hover{
    background-color: blanchedalmond;
    transform: scale(1.2);
}

footer{
    height:150px;
    position: relative;
    display: inline-flexbox;
}

a:hover{
    color: aquamarine;
}

.icon{
    margin-left: 100px;
    margin-right: 100px;
}

i:hover{
    transform: scale(1.5);
}

ul{
    list-style-type: none;
}

footer ul li{
    display:inline;
}